
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Welcome!</h1>
<p> Welcome @ViewBag.Name!</p>
<p>The secret number for today is @ViewBag.SecretNumber. Don't tell anybody.'</p>